<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/meat.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <dialog class="card-modal" closedby="any">
      <h1 class="Seafood" id="color-code"></h1>
      <div>
        <img class="modal-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5JQU-2kMlWJ0W-QEJZRdXaeueRk1hdJ_rxw&s" alt="" />
        <form>
          <input type="text" name="" id="mod-name" value="Pork" class="modal-input" disabled>
          <label for="mod-price">
            Price: $<input type="number" id="mod-price" value="23.12" class="modal-input" disabled>
          </label>
          <label for="mod-quantity" class="price-label">
            Quantity: <input type="number" id="mod-quantity" value="23" class="modal-input" disabled>
          </label>
          <button class="edit">Edit</button>
          <button id="delete">Delete</button>
        </form>
           
      </div>  
    </dialog>

    <div class="container">
      <h1>MEAT</h1>
      <div class="main-container">
        <form class="filter-container">
          <label class="flt-label">Sort By Name:</label>
          <br />
          <input type="radio" id="name-ascending" name="sort" value="nameAsc" <%= sort === 'nameAsc' ? 'checked' : ''%>/>
          <label for="name-ascending">Ascending</label>
          <br />
          <input
            type="radio"
            id="name-descending"
            name="sort"
            value="nameDesc"
            <%= sort === 'nameDesc' ? 'checked' : ''%>
          />
          <label for="name-descending">Descending</label>

          <br />
          <br />

          <label class="flt-label">Sort By Price:</label>
          <br />
          <input
            type="radio"
            id="price-ascending"
            name="sort"
            value="priceAsc"
            <%= sort === 'priceAsc' ? 'checked' : ''%>
          />
          <label for="price-ascending">Ascending</label>
          <br />
          <input
            type="radio"
            id="price-descending"
            name="sort"
            value="priceDesc"
            <%= sort === 'priceDesc' ? 'checked' : ''%>
          />
          <label for="price-descending">Descending</label>

          <br />
          <br />

          <label class="flt-label">Filter By Type:</label>
          <br />

          <input type="checkbox" id="Beef" name="type" value="Beef" <%= types.includes('Beef') ? 'checked' : '' %>/>
          <label class="Beef" for="Beef">Beef</label>
          <br />

          <input type="checkbox" id="Pork" name="type" value="Pork" <%= types.includes('Pork') ? 'checked' : '' %>/>
          <label class="Pork" for="Pork">Pork</label>
          <br />

          <input type="checkbox" id="Poultry" name="type" value="Poultry" <%= types.includes('Poultry') ? 'checked' : '' %>/>
          <label class="Poultry" for="Poultry">Poultry</label>
          <br />

          <input type="checkbox" id="Seafood" name="type" value="Seafood" <%= types.includes('Seafood') ? 'checked' : '' %>/>
          <label class="Seafood" for="Seafood">Seafood</label>
          <br />

          <input type="checkbox" id="Processed" name="type" value="Processed" <%= types.includes('Processed') ? 'checked' : '' %>/>
          <label class="Processed" for="Processed">Processed</label>
          <br />
          <br />
          <button id="filter-btn" type="submit">Filter</button>
          <br />
        </form>
        <div class="meat-container">
          <% meats.forEach(meat => { %>
          <div class="meat-card" type="button" data-name="<%= meat.name%>">
            <div class="card-type <%= meat.type %>"><%= meat.type %></div>
            <img src="<%=meat.image_url%>" alt="" />
            <label class="card-name"><%= meat.name %> </label>
            <label class="card-price">Price: $<%= meat.price %></label>
            <label class="card-quantity">Quantity: <%= meat.quantity %> </label>
          </div>

          <% }) %>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
    <script src="/js/meatModal.js">
  
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
